@use "../../../../scss/" as *;

.real {
	background-color: rgb(255, 255, 255);
	margin: 1.6rem 0px 0px;
	padding-bottom: 1.6rem;
	padding: 0 20rem;
	@include tablet {
		padding: 0 3rem;
	}
	@include mobile {
		padding: 0 1rem;
	}
	&__title {
		@include flex(center, space-between);
		padding: 1.6rem 0;
		&__left {
			@include flex(center, center);
			img {
				width: 2.4rem;
				height: 2.4rem;
				margin-right: 0.4rem;
				position: relative;
				top: 0.2rem;
				@include mobile {
					width: 1rem;
					height: 1rem;
					top: 0;
				}
			}
			span:nth-child(2) {
				font-size: 2.2rem;
				@include tablet {
					font-size: 1.5rem;
				}
				@include mobile {
					font-size: 1rem;
				}
			}
		}
		&__right {
			color: rgb(11, 116, 229);
			@include tablet {
				font-size: 1.5rem;
			}
			@include mobile {
				font-size: 1rem;
			}
		}
	}
	&__slider {
		&__item {
			@include flex(center, space-evenly);
			padding-bottom: 2.5rem;
			gap: 1rem;
			@include tablet {
				display: block;
			}
			img {
				border-radius: 8px;
				object-fit: cover;
				@include tablet {
					width: 100%;
				}
			}
		}
		&__product {
			@include tablet {
				display: none;
			}
		}
		&__trademark {
			text-align: center;
			position: relative;
			img {
				border: 1px solid rgb(238, 238, 238);
				border-radius: 8px;
				object-fit: cover;
				@include tablet {
					width: 87%;
				}
				@include mobile {
					width: 85%;
				}
			}
			span {
				color: rgb(26, 148, 255);
				position: absolute;
				bottom: 1.4rem;
				left: 0;
				right: 0;
				font-size: 1.4rem;
				@include tablet {
					display: none;
				}
				@include mobile {
					display: none;
				}
			}
		}
	}
}

// custom pagination
.swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
	bottom: -13px;
	left: 0;
	width: 100%;
}
