@use "../../../../scss/" as *;

.outstanding {
	background-color: $white;
	margin-top: 1.6rem;
	border-radius: 3px;
	padding-bottom: 1rem;
	padding: 0 20rem;
	@include tablet {
		padding: 0 3rem;
	}
	@include mobile {
		padding: 0 1rem;
	}

	&__title {
		font-size: 20px;
		line-height: 28px;
		padding: 10px 16px;
		font-weight: bold;
		text-transform: capitalize;
		font-weight: initial;
	}
	&__group {
		margin-top: 1.8rem;
		gap: 1.2rem 0.8rem;
		display: grid;
		grid-template-columns: repeat(10, 1fr);
		font-size: 1.3rem;
		text-align: center;

		@include tablet {
			grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
		}
		@include mobile {
			grid-template-columns: repeat(1, 1fr);
		}
		&__item {
			@include flex(center, center);
			flex-direction: column;
			img {
				width: 4rem;
				height: 4rem;
				object-fit: cover;
				border-radius: 20px;
			}
			span {
				margin-top: 1.2rem;
			}
		}
	}
}
