@use "../../../../scss/" as *;

.category {
	@include flex(center, center);
	color: #000;
	padding: 1rem 20rem;
	@include tablet {
		padding: 1rem 3rem;
	}
	@include mobile {
		padding: 1rem 1rem;
	}
	@include tablet {
		display: none;
	}
}
