@use "../../../scss/" as *;

.pay {
	padding: 0 20rem;
	@include tablet {
		padding: 0 3rem;
	}
	@include mobile {
		padding: 0 1rem;
	}
	&__title {
		text-align: center;
	}
	&__detail {
		margin-top: 24px;

		display: grid;
		grid-template-columns: repeat(7, 1fr);
		// grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
		grid-template-rows: repeat(1, 1fr);
		h4 {
			font-size: 2rem;
		}
	}
	&__Paymentby {
		@include flex(center, space-around);
	}
	&__child {
		display: flex;
		flex-direction: column;
		position: relative;
		input {
			position: absolute;
			top: 25px;
		}
		img {
			margin-top: 18px;
			height: 50px;
			width: 50px;
			object-fit: cover;
			z-index: 1;
		}
	}
	&__actions {
		@include flex(center, space-around);
		margin-top: 42px;
	}
}
.pay__item {
	align-items: center;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-template-rows: repeat(1, 1fr);
}
