@use "../../../../scss/" as *;

.search {
	@include flex(center, center);
	flex: 1;
	height: 40px;
	position: relative;
	input {
		height: 100%;
		flex: 1;
		width: 100%;
		padding: 0px 12px;
	}
	input:not(:placeholder-shown) ~ button {
		color: rgba(22, 24, 35, 0.75);
	}

	// button {
	// 	height: 100%;
	// 	width: 120px;
	// 	background-color: $btn-color-bg;
	// 	color: $white;
	// 	font-weight: 700;
	// 	border: none;
	// 	span {
	// 		margin-left: 8px;
	// 	}
	// }
	&__btn {
		background-color: #95bdff;
		height: 100%;
		border-radius: 0;
		display: flex;
		align-items: center;
		justify-content: space-around;
		font-size: 1.5rem;
		margin-left: auto;
		@include tablet {
			padding: 0;
		}
		@include mobile {
			padding: 0;
		}
		span {
			@include mobile {
				font-size: 0.75rem;
			}
			@include tablet {
				font-size: 0.8rem;
			}
		}
	}
	&__clear {
		background-color: #fff;
		height: 100%;
		padding: 0.5rem;
	}
}

.search__box {
	width: 765px;
	background-color: $white;
	color: $text-second-color;
	border-radius: 8px;
	@include tablet {
		max-width: 704px;
	}
	@include mobile {
		width: 375px;
	}
}
