@use "../../../../scss/" as *;

.form__control {
	@include flex(unset, unset);
	flex-direction: column;
	gap: 0.25rem;
	label {
		font-size: 1.5rem;
		font-weight: 500;
		@include tablet {
			font-size: 1.2rem;
		}
		@include mobile {
			font-size: 0.8rem;
		}
	}
	.relative {
		position: relative;
		.form__control__toggle {
			position: absolute;
			right: 0.5rem;
			top: 50%;
			transform: translateY(-50%);
			@include mobile {
				font-size: 1rem;
			}
		}
		input {
			padding: 1.5rem;
			border-radius: 5px;
			border: 1px solid gray;
			width: 100%;
			font-size: 1.5rem;
			@include tablet {
				padding: 1rem;
				font-size: 1.3rem;
			}
			@include mobile {
				font-size: 0.8rem;
				padding: 0.5rem;
				height: 2.5rem;
			}
			&:focus {
				border-color: #1b74e4;
				box-shadow: 0 0 0 2px #e7f3ff;
				caret-color: #1b74e4;
			}
			&:invalid[focused="true"] ~ .form__control__err {
				display: block;
			}
			// &:invalid[focused="true"] ~ .iconEyes {
			// 	position: absolute;
			// 	right: 0.5rem;
			// 	top: 25%;
			// } C1
			&:invalid[focused="true"] ~ .form__control__toggle {
				position: absolute;
				right: 0.5rem;
				top: 25%;
				transform: translateY(-65%);

				@include tablet {
					transform: translateY(-60%);
				}
				@include mobile {
					transform: translateY(-50%);
				}
			} // C2
		}
	}

	&__err {
		font-size: 1.2rem;
		@include tablet {
			font-size: 1rem;
			margin-top: 0.5rem;
		}
		@include mobile {
			font-size: 0.6rem;
			margin-top: 0.5rem;
		}
		color: #a10035;
		margin-top: 1.5rem;
		&:last-child {
			margin-bottom: 0.75rem;
		}
		display: none;
	}
}
.iconEyes {
	position: absolute;
	right: 0.5rem;
	top: 50%;
	transform: translateY(-50%);
}
