@use "../../../../scss/" as *;
.login {
	height: 100vh;
	@include flex(center, center);
	background-image: url("https://media.istockphoto.com/id/1138395421/vi/anh/n%E1%BB%81n-ho%E1%BA%B7c-k%E1%BA%BFt-c%E1%BA%A5u-tr%E1%BB%ABu-t%C6%B0%E1%BB%A3ng-m%C3%A0u-xanh-lam.jpg?s=2048x2048&w=is&k=20&c=8AirIwQ1r2jQXkl5bE5g8hz2c-eqcho99UkycPAqp5A=");
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	.form {
		display: flex;
		flex-direction: column;
		justify-content: center;
		gap: 0.75rem;
		width: 20%;
		background-color: #fff;
		box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 8px 16px rgb(0 0 0 / 10%);
		border-radius: 8px;
		padding: 3rem;
		animation: slide-down 300ms ease-out;
		position: relative;
		@include tablet {
			width: 50%;
			padding: 1.5rem;
		}
		@include mobile {
			width: 70%;
			padding: 1rem;
		}
		&__title {
			@include flex(center, center);
			flex-direction: column;

			&__icon {
				font-size: 3rem;
				margin: 1rem 0;
				@include tablet {
					font-size: 2rem;
				}
				@include mobile {
					font-size: 1rem;
					margin: 0.5rem 0;
				}
			}
			span {
				font-size: 2rem;
				@include tablet {
					font-size: 1.2rem;
				}
				@include mobile {
					font-size: 1rem;
				}
			}
		}

		&__register {
			&__title {
				color: #a10035;
				margin-left: 0.25rem;
			}
			span {
				@include tablet {
					font-size: 1.2rem;
				}
				@include mobile {
					font-size: 0.75rem;
				}
			}
		}
		&__social {
			@include flex(center, center);

			font-size: 3rem;
			@include tablet {
				font-size: 2.5rem;
			}
			@include mobile {
				font-size: 1.5rem;
			}
			&__fb {
				color: rgb(26, 148, 255);
			}
			&__github {
				margin: 0 2rem;
			}
			&__google {
				color: rgb(187, 0, 27);
			}
		}
		&__close {
			position: absolute;
			top: -5px;
			right: -10px;
			font-size: 2rem;
			border: none;
			cursor: pointer;
			@include tablet {
				top: -14px;
				right: -22px;
			}
			@include mobile {
				font-size: 1.5rem;

				top: -14px;
				right: -30px;
			}
		}
	}
}

@keyframes slide-down {
	from {
		opacity: 0;
		transform: translateY(-5rem);
	}
	to {
		opacity: 1;
		transform: 0;
	}
}
